@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  top: 0 !important;
  margin-top: 110px;
}

header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  font-size: 1.5em !important;
}

.content{
  display: block;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 2em;
  border-radius: 1.3em;
  background-color: var(--color-background-soft);
}

.modal-content{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 2em;
  border-radius: 1.3em;
  background-color: var(--color-background-soft);
}

.modal-content,p{
  margin-top: 1em;
  display: block;
}

input{
  padding: 0.5em 1em;
  margin: 0.2em;
  border-radius: 1em;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-color: var(--color-background-soft);
  border-width: 0.4em;
}

select{
  padding: 0.5em 1em;
  margin: 0.2em;
  border-radius: 1em;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  /* transition: 0.3s; */
  border-color: var(--color-background-soft);
  border-width: 0.4em;
  width: 100%; 
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

select:focus{
  outline: 0.2em solid lightblue;
}

button{
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: var(--color-text);
  color: var(--color-background);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border-color: var(--color-background-soft);
  border-width: 0.3em;
}

button:hover{
  background-color: var(--color-background);
  color: var(--color-text);
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}

.detail-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  border: 0.2em solid var(--color-text);
  border-radius: 1em;
}

td, th{
  padding: 1em;
  border-radius: 1em;
  border: 0.2em;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
