@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 2em;
  border-radius: 1.3em;
  background-color: var(--color-background-soft);
  position: fixed;
  top: 2em;
}

.content{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 2em;
  border-radius: 1.3em;
  background-color: var(--color-background-soft);
}


input{
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-color: var(--color-background-soft);
  border-width: 0.4em;
}

button{
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: var(--color-text);
  color: var(--color-background);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border-color: var(--color-background-soft);
  border-width: 0.3em;
}

button:hover{
  background-color: var(--color-background);
  color: var(--color-text);
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}

td, th{
  padding: 1em;
  border: 1px solid var(--color-background-soft);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
